<div class = "card" id="<%= dom_id movie %>">
  <p>
    Name:
    <strong><%= movie.name %></strong>
  </p>
  <p>
    Address:
    <strong><%= movie.address %></strong>
  </p>

  <p>
    Rating:
    <strong><%= movie.rating %></strong>
  </p>

</div>
