<div id="<%= dom_id bookmark %>">
  <p>
    <strong>Name:</strong>
    <%= bookmark.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bookmark.address %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= bookmark.rating %>
  </p>

</div>
